<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>HTML Review</title>
    </head>
<!--    container for metadata(is not display )    -->
    <body>

    <b> Welcome to Java developer course</b>

        <h1 style="color: blue">Hello</h1>
        <h2 align="center" >Hello</h2>
        <h3 align="right">Hello</h3>
        <h4 align="left">Hello</h4> <!-- don't need this -->
        <h5>Hello</h5>
        <h6>Hello</h6>
        <h7>Hello</h7>
        <h8></h8>

        <br><br><!--new line-->

        <img src="img.png" alt="pic text" width="50" height="50">

        <ul>
            <li>Java</li>
            <li>MVC</li>
            <li>ORD</li>
        </ul>

        <a href="heeps://cydeo.com">Cydeo</a>

        <br><br><!--new line-->

        <table>

            <tr>
                <td>FirstName </td>
                <td>LastName </td>
                <td>Salary </td>
            </tr>

            <td>Mike</td>
            <td>Smith</td>
            <td>120000</td>

        </table>

    </body>

</html>