<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>HTML Review</title>
    </head>
<!--    container for metadata(is not display )    -->
    <body>

        <b> Welcome to Java developer course</b>

        <h1 style="color: blue">Hello</h1>
        <h2 align="center" >Hello</h2>
        <h3 align="right">Hello</h3>
        <h4 align="left">Hello</h4> <!-- don't need this -->
        <h5>Hello</h5>
        <h6>Hello</h6>
        <h7>Hello</h7>
        <h8></h8>

        <br><br><!--new line-->

        <img src="img.png" alt="pic text" width="50" height="50">

        <ul>
            <li>Java</li>
            <li>MVC</li>
            <li>ORD</li>
        </ul>

        <a href="heeps://cydeo.com">Cydeo</a>

        <br><br><!--new line-->

        <table>

            <tr>
                <td>FirstName </td>
                <td>LastName </td>
                <td>Salary </td>
            </tr>

            <td>Mike</td>
            <td>Smith</td>
            <td>120000</td>

        </table>

        <label>UserName:</label>
        <input type="text" name="username">

        <br>
        <label>Password:</label>
        <input type="password" name="password">

        <br>
        <label>Enter your comments</label>
        <textarea name="comments"></textarea>

        <br>
        <label>Please select your gender:</label>
        <input type="radio" name="gender" value="male">Male <!-- we need value only for send it to API/DB -->
        <input type="radio" name="gender" value="female">Female
        <input type="radio" name="gender" value="other">Other

        <br>
        <label>Please select your favourite recourse</label>
        <input type="checkbox" name="course" value="spring">Spring
        <input type="checkbox" name="course" value="DS">DS
        <input type="checkbox" name="course" value="Java">Java

        <br>
        <label>Select your program</label>
        <select>
            <option value="us-sdet">US SDET</option>
            <option value="eu-sdet">US SDET</option>
            <option value="us-jd">US JD</option>
            <option value="JD-AL">JD SDET</option>
        </select>

        <form action="#" method="get">

            FirstName: <input type="text" name="first_name">

            <br>
            LastName:<input type="text" name="lastname">

            <br>
            <input type="button" value="submit">

        </form>

        <div style="background-color: aqua">

            <h3>Java</h3>

            <ul>
                <li>SPRING</li>
                <li>DATA STRUCTURE</li>
            </ul>

        </div>

    </body>

</html>